# Core
fastapi==0.110.3
uvicorn[standard]==0.30.1
python-dotenv==1.0.1
pydantic==2.7.4
pydantic-settings==2.3.4
email-validator==2.2.0

# Database
sqlalchemy[asyncio]==2.0.31
asyncpg==0.29.0
alembic==1.13.1
greenlet==3.0.3

# Auth
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt>=4.0,<4.1
python-multipart==0.0.9

# Cache & Tasks
redis==5.0.7
celery[redis]==5.4.0

# Email
sendgrid==6.11.0
jinja2==3.1.4

# Payments
stripe==10.1.0
mercadopago==2.2.2

# Utils
httpx==0.27.0
python-dateutil==2.9.0
pytz==2024.1
phonenumbers==8.13.39

# Export
openpyxl==3.1.5
reportlab==4.2.2

# Testing
pytest==8.2.2
pytest-asyncio==0.23.7
httpx==0.27.0
factory-boy==3.3.0

# Dev
black==24.4.2
ruff==0.5.0
mypy==1.10.1
